<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dionysus</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1 class="text-center logo">Dionysus</h1>
    <form action="/watch/submit" method="post" class="text-center">
    	<div>
    		<label for="title" class="text-center">TV Show or Movie title. Be sure to use s01e01 format.</label>
        <input type="text" id="title" name="userInput" placeholder="mr robot s03e01">
    	</div>
    </form>

  </body>
</html>
