<% include ./partials/header %>

    <div class="container">
      <div class="row">
        <!-- I'm going to re-design this with carousels later... (one carousel for each category?) -->
      <% for(var i=0; i<movies.results.length; i++) { %>
        <div class="col">
          <div class="card bg-dark" style="width: 250px;">
            <img class="card-img-top" src="http://image.tmdb.org/t/p/w342/<%= movies.results[i].poster_path %>" alt="Card image cap">
            <div class="card-body">
              <span class="card-title"><%= movies.results[i].title %></span><br>
              <a href="/watch/<%= movies.results[i].title %>" class="btn btn-primary">Watch</a>
            </div>
          </div>
        </div>
      <% } %>
      </div>
    </div>
    <% include ./partials/footer %>
