:root {
	--grey-900: #212121;
	--grey-800: #424242;
	--red-900: #B71C1C;
	--red-700: #D32F2F;
	--red-500: #F44336;
	--accent-color: var(--red-500);
	--shadow: 0px 3px 11px rgba(0,0,0,0.5);


}
* {
	color: white;
}
.subtext {
	font-weight: 300;
}
.card {
	margin: 1rem auto;
	border: 0;
	background-color: #343a40;
	box-shadow: var(--shadow);
	color: white;
}

.card-title {
  font-size: 1.3em;
}
.btn-primary {
	background-color: var(--red-500);
	border: 0;
}
.btn-primary:hover {
	background-color: var(--red-700);
}

.btn-outline-success {
	border-color: var(--accent-color);
	color: var(--accent-color);
}
.btn-outline-success:hover {
	border-color: var(--accent-color);
	background-color: var(--accent-color);
}
.btn-outline-success:focus {
	border-color: var(--accent-color);
	background-color: var(--accent-color);
	box-shadow: 0 0 0 0.2rem rgba(183,28,28, 0.5);
}


.btn-outline-success:not([disabled]):not(.disabled):active, .btn-outline-success:not([disabled]):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
	border-color: var(--accent-color);
	background-color: var(--accent-color);
  box-shadow: 0 0 0 0.2rem rgba(183,28,28, 0.5);
}
body {
	background-color: var(--grey-900);
	min-height: 100vh;
}
.source {
	background-color: transparent;
	border: 0;
	color: var(--accent-color);
	cursor: pointer;
}
.extra-padding {
	padding: 1rem;
}

h1,p {
	color: white;
}
iframe {
	margin: 0 auto;

}
.embed-responsive {
	box-shadow: var(--shadow) !important;
}
span.error {
	color: white;
  font-weight: 100;
  font-size: 3em;
}

.season-selector li a {
	color: white;
	line-height: 2em;
}
.season-selector a {
	color: var(--accent-color);
}
.desc {
	max-width: 37em;
}
